.learn-container {
  padding: 50px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 1000px;
}
.learn-header {
  color: wheat;
  margin: 40px 0;
}

.slider .slick-slider > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.slide-container {
  width: 80%;
  margin: 200px 60px;
}

.profile-projects-controllers {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.profile-projects-controllers > div {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: fit-content;
  margin-top: 40px;
  margin-right: 30px;
}
.profile-projects-controllers p {
  color: white;
  margin: auto 30px;
  letter-spacing: 2.2px;
}
.profile-projects-controllers img {
  cursor: pointer;
  transition: opacity 0.4s ease;
}
.profile-projects-controllers img:hover {
  opacity: 0.8;
}
