.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}
