.home-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 900px;
}

.home-left-grid {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
  align-items: center;
}

.home-left {
  display: flex;
  flex-direction: row;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.home-left img {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 16px;
  margin: 20px 0;
  height: 250px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.home-right h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #decba4, #3e5151);
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 72px;
}

.home-right span {
  text-align: center;
  color: #3e5151;
  font-size: 24px;
  margin: 30px 0;
  width: 60%;
  line-height: 40px;
}

.home-button button {
  border: none;
  padding: 20px 55px;
  border-radius: 16px;
  font-weight: bold;
  margin-left: 20px;
  background-color: rgb(112, 98, 98);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: white;
  transition: 0.5s;
  border: 1px solid #6b7e7e;
  cursor: pointer;
}

.home-button button:hover {
  background: white;
  color: rgb(112, 98, 98);
}
